* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #262622;
    position: relative;
    min-height: 100vh; 
    padding-bottom: 60px; 
}


.text-blauw {
    color: #0367A6;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 15%; 
    padding-bottom: 10px;
    border-bottom: 40px;
}

.card {
    margin-bottom: 100px;
    background-color: #0367A6;
    border: 0px;
}

.plaats {
    padding-top: 40px;
    padding-bottom: 80px;
}

.btn-zwart {
    background-color: #262622;
    color: #0367A6;
}

.btn-blauw {
    background-color: #0367A6;
    color: #262626;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn-blauw:hover {
    background-color: #2d2d29;
    color: #0367A6;
}



.btn-zwart:hover {
    background-color: #2d2d29;
    color: #0367A6;
  }

.navbar {
    background-color: #0367A6;
    position: sticky; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}


.offcanvas-body {
    background-color: #262622;
}

.nav-link {
    color: #0367A6;
}



.navbar-toggler:hover {
    outline: none;
    box-shadow: none;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    width: 2rem; 
    height: 2rem; 
}

.offcanvas-header {
    background-color: #0367A6;
    padding-bottom: 13px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px; 
    background-color: #0367A6;
    color: #262622;
    text-align: center;
    padding-top: 15px;
    
}

aside {
    border-left: 2px solid #0367A6;
    height: auto;
    margin-bottom: 40px;
    margin-top: 10px;
}

#thuisMap {
    width: 80%;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
}


/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 360px) {
    .bettertext {
        font-size: 10px;
        padding-top: 10px;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;
    }

}


@media (min-width: 390px) {
    .bettertext {
        font-size: 15px;
        padding-top: 10px;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;
    }

}


@media (min-width: 576px) {
    .bettertext {
        font-size: 15px;
        padding-top: 10px;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .bettertext {
        font-size: 17px;
        padding-top: 10px;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .bettertext {
        font-size: 17px;
        padding-top: 10px;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .bettertext {
        font-size: 18px;
        padding-top: 10px;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;
    }

}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

  
}
